/* FONTS FOR STYLING */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Playfair+Display:ital,wght@1,400;1,500&family=Poppins&display=swap');
:root {
    --shadow: 0 5px 10px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    height: 100%;
    line-height: 1.4;
    background-position: center;
    background-size: cover;   
}
/* START OF THE HERO SECTION */
/* STYLING THE HERO SECTION IMAGE */
.hero {
    background:url("./images/beach-1867026_1920.jpg");
    background-position: center;
    background-size: cover;  
    
}

/* FOR THE NICE NAV SPACING  */
.nav {
    display: flex;
    justify-content: space-between;
    border-radius: 10em;    
}

h1 {
    color: whitesmoke;
    text-transform: uppercase;
    margin-left: 100px;
}
.nav .navdetails {
    display: grid;
    grid-gap: 9px;
    list-style: none;
    grid-template-columns: repeat(4, 100px);
    padding: 0px 7em;
    align-items: center;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: whitesmoke;
}

/* HOVER EFFECT FOR THE NAV BAR */
li a:hover {
    border-bottom: 2px #ef4908 solid;
    transition: all 0.04s linear;
    
}
/* GRID FOR THE HERO SECTION */
.socials {
    display: grid;
    grid-gap: 40px;
    grid-template-areas: 
    'media heading vectorimg'
    'media subheading vectorimg'
    'media p1 vectorimg';
}

/* START OF STYLING FOR SOCIAL MEDIA LINKS */
/* STYLING THE SOCIAL MEDIA LINK */
.media {
    grid-area: media;
    display: flex;
    flex-direction: column;
    margin-top: 18em;
    margin-left: 30px;
}
.media a {
    padding: 5px;
}
.media a:hover {
    transform: scale(1.15) ;
    transition: all 0.3s ease;
}
/* END OF STYLING FOR SOCIAL MEDIA LINKS */

.heading {
    grid-area: heading;
    color: #ef4908;
    font-weight: 400;
    font-size: 72px;
    margin-top: 3em; 
        
}
.heading:hover {
    transition:  0.9s;
    transform: translateY(-30px); 
    color: #a968e6;
}
.vectorimg {
    grid-area: vectorimg;
    background-size: cover;
    background-position: center;  
    opacity: 0.0;  
}
 

.p1 {
    grid-area: p1;
    color: #fceeee;
    margin-top: -18em;
    font-family: Poppins;
    font-size:17px;
    line-height: 32px;
    
}
h3 {
    font-family: Poppins;
    color: aliceblue;
    margin-top: -9em;
    font-weight: 500;
    font-size: 22px;
}
/* END OF STYLING FOR THE HERO SECTION */

/* GRID TEMPLATE AREAS FOR USER PHOTO VIEWING SECTION */
.projects {
    display: grid;
    grid-template-areas: 
    'head sect'
    'head sect';
    grid-gap: 20px;
    background: #b8bfba;
    background-size: cover;
    background-position: center;
    padding-left: 80px;
    background: url("./images/pexels-mario-cuadros-4608979.jpg");
    background-position: center;
    background-size: cover;
}
 #pictures img {
    width: 100%;
    justify-items: start;
    margin-left: 20px;
    width: 650px;
    height: 350px; 
    box-shadow: 0 3px 5px rgba(104, 104, 104, 0.5); 
    border-radius: 15px;
} 
h4 {
    font-family: Crete Round;
    font-weight: 400;
    font-size: 40px;
    color: #f5883b;
    margin-left: 20px;
}
.btn {  
    background: #f5883b;
    color: white;
    padding: 2px 660px;
    text-decoration: none;
    border-radius: 20px; 
    padding: 10px 50px;
    margin-left: 20px;
   
}
 #btn1:hover {
     transform: translateY(-5px);
    transition: 0.2s; 
    cursor: pointer;
    background: #a968e6;
}

#btn1:active {
    transform: scale(0.95);
}
.projects .btn {
    margin-top: 1em;
}
.projects .stories {
    margin-top: 3.7em;
    color: #f5883b;
}
.projects .p2 {
    margin-top: -2.4em; 
    width: 75%;
    margin-left: 20px;
}
.projects .works {
    margin-left: 60px;
}
/* END OF USER PHOTO VIEWING SECTION */

/* IMAGE TILES WITH SHORT DESCRIPTION  */
.project-tiles {
    display: flex;
    display: grid;
    grid-gap: 15px;
    padding: 80px;
    padding-top: 30px;
    padding-bottom: 80px;
    background: #6668d9;
    background-size: cover;
    background-position: center;
    color: aliceblue;
    box-shadow: var(--shadow);
    grid-template-areas: 
    'project1 project2 project3'
    'project4 project5 project6';
}
.project-tiles h5 {
text-align: center;
font-size: 40px;
}

/* STYLING FOR EACH IMAGE TILE */
.project1 {
    margin-left: 20px;
    grid-area: project1;
    background-image:linear-gradient(45deg, rgba(237, 165, 164, 0.75),  
     rgba(23, 53, 83, 0.75)), url( "https://source.unsplash.com/random/369x435");
    background-position: center;
    background-size: cover;
    min-height: 430px;
    justify-content: center;
    box-shadow: var(--shadow);
    border-radius: 15px;
    
}
.project1:hover {
    background: url("https://source.unsplash.com/random/369x435");
    transition-property:all;
    transition-duration: 0.1s;
    transform: translateY(-9px);
    transform-style: preserve-3d;
    transition: 0.9s;
}
.project2 {
    grid-area: project2;
    background-image:linear-gradient(45deg, rgba(237, 165, 164, 0.40),  
     rgba(22, 42, 62, 0.75)), url( "https://source.unsplash.com/random/370x435");
    background-position: center;
    background-size: cover;
    min-height: 430px;
    box-shadow: var(--shadow);
    border-radius: 15px;
}
.project2:hover {
    background: url("https://source.unsplash.com/random/370x435");
    transform: translateY(-9px);
    transition: 0.9s;

}
.project3 {
    margin-right: 20px;
    grid-area: project3;
    background-image:linear-gradient(45deg, rgba(237, 165, 164, 0.75),  
     rgba(16, 40, 64, 0.90)), url( "https://source.unsplash.com/random/371x435");
    background-position: center;
    background-size: cover;
    min-height: 430px;
    box-shadow: var(--shadow);
    border-radius: 15px;
}


.project3:hover {
    background: url("https://source.unsplash.com/random/371x435");
    transform: translateY(-9px);
    transition: 0.9s;

}

.project4 {
    margin-left: 20px;
    grid-area: project4;
    background-image:linear-gradient(45deg, rgba(237, 165, 164, 0.40),  
     rgba(6, 13, 31, 0.75)), url( "https://source.unsplash.com/random/372x435");
    background-position: center;
    background-size: cover;
    min-height: 430px;
    box-shadow: var(--shadow);
    border-radius: 15px;
}

.project4:hover {
    background: url("https://source.unsplash.com/random/372x435");
    transform: translateY(-9px);
    transition: 0.9s;

}

.project5{
    grid-area: project5;
    background-image:linear-gradient(45deg, rgba(237, 165, 164, 0.40),  
     rgba(5, 15, 24, 0.75)), url( "https://source.unsplash.com/random/373x435");
    background-position: center;
    background-size: cover;
    min-height: 430px;
    box-shadow: var(--shadow);
    border-radius: 15px;
}
.project5:hover {
    background: url("https://source.unsplash.com/random/373x435");
    transform: translateY(-9px);
    transition: 0.9s;

}
.project6 {
    margin-right: 20px;
    grid-area: project6;
    background-image:linear-gradient(45deg, rgba(237, 165, 164, 0.40),  
     rgba(2, 9, 16, 0.75)), url( "https://source.unsplash.com/random/374x435");
    background-position: center;
    background-size: cover;
    min-height: 430px;
    box-shadow: var(--shadow);
    border-radius: 15px;
}
.project6:hover {
    background: url("https://source.unsplash.com/random/374x435");
    transform: translateY(-9px);
    transition: 0.9s;

}

h5 {
    font-size: 32px;
    line-height: 44px;
    text-shadow: 2px 2px;
}
.project-tiles p {
font-weight: 400;
font-size: 17px;
line-height: 24px;
}
/* END OF STYLING FOR EACH IMAGE TILE */

/* THE ABOUT SECTION */
#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background:url("./images/pexels-kindel-media-7149158.jpg");
    color: aliceblue;
    padding-left: 100px;
    padding-right: 0px;
    background-position: center;
    background-size: cover;
}
/* IMAGE FOR MORE STYLING */
.frame {
 width: 100%;
 padding-top: 80px; 
 opacity: 0.0;  
}
#about p {
    width: 70%;
    color: rgb(200, 240, 210);
    margin-top: -60px; 
    font-size: 20px;
    font-family: Poppins;
}
#about .head-about {
font-family: 'Crete Round';
font-weight: 500;
font-size: 77px;
color: #ba08f0;
padding: -10px;
} 
/* END OF THE ABOUT SECTION */

/* SIGN UP FORM STYLING */
#signup-in {
    display: flex;
    padding-left: 105px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background: #6668d9;
}
.sign-in {
    margin-top: -6.0em;
}
.sign-up {
    padding-bottom: 15px;
}
.form {
    background-position: center;
    background-size: cover;
    width: 400px;
    border-radius: 8px;
    padding: 40px 40px;
    box-shadow: 0 10px 25px rgba(30, 31, 33, 0.2);
  }
  .form p {
    margin-top: -1.9em;
  }
  h6 {
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 40px;
  }
  .container {
    position: relative; 
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }

  /* MAKING THE PLACEHOLDER TRANSPARENT */
 ::placeholder {
    color: transparent;
  }  

  /* STYLING THE INPUT BOXES */
  .input {
    position:absolute ;
    top: 0px;
    left: 0px;
    height: 100%; 
    width: 100%;
    border: 0px solid white;
    border-radius: 7px;
    font-size: 16px;
    padding: 0px 10px;
     outline: none; 
    background: rgb(166, 151, 195);
     /* z-index: 1;  */
  }

   .label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    color: #1d1e20;
    font-size: 16px;
    transition: 0.5s;
    /* z-index: 1; */
  } 
  /* submit button */
  .submitButton {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: rgb(128, 0, 75);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    
  }